{% extends "app/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<div class="container">
    <br>
    <h1 class="text-center text-danger">About Us</h1>
    <br>
    <div class="row container">
        <h5 class="text-center fs-5 text-info">
            I failed to find something to write in here. So please forgive me and have a nice day <3
        </h5>
        <img src="{% static 'app/images/products/bunny.jpg' %}">
    </div>
</div>
{% endblock main-content %}