{% extends "app/base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block main-content %}
<div class="container d-flex align-items-center justify-content-center mt-5 col col-12">
    <div class="mt-3 row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3129.4702879526612!2d27.132331876456725!3d38.33809577951058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdf1e0b668f93%3A0x39095f5c59a8052a!2sOPT%C4%B0MUM%20AVM!5e0!3m2!1str!2str!4v1706016297674!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <h1 class="fs-4 text-center text-info">You can reach us anytime you want by using these :</h1>
        <p class="text-center text-danger fs-4 email">aupmerce@aupmerce.com <span class="text-info">/</span> 0111 111 11 11</p>
    </div>
</div>
{% endblock main-content %}