{% extends "app/base.html" %}
{% load static %}
{% block title %}Your Password Has Been Changed Succesfully{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 class="text-primary text-capitalize">Welcome {{request.user.username}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a class="btn btn-primary" href="{% url 'profile' %}">Password Change Done Successfully !</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3 class="text-success">Password Changed Successfully</h3>
        </div>
        <div>
            <img src="https://media.giphy.com/media/26u4lOMA8JKSnL9Uk/giphy.gif" alt="">
        </div>
    </div>
    </div>
{% endblock main-content %}